@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body {
  background-color: rgb(216, 226, 216);
}
@media (min-width: 768px) {
  body:nth-child(n) {
    width: 65%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  body:nth-child(n) {
    width: 40%;
    margin: auto;
  }
}

header {
  background-color: #ffffff;
}
header a {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 14px;
  height: 16px;
  color: #353535;
}
@media (min-width: 768px) {
  header a {
    left: 20%;
  }
}
@media (min-width: 992px) {
  header a {
    left: 31%;
    width: 18px;
    height: 20px;
  }
}
header #titre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3em;
  justify-content: center;
  align-items: center;
}
header #titre h2 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

main {
  font-family: "Roboto";
}
main .photo-restaurant {
  width: 100%;
  height: 250px;
  z-index: 2;
}
main .photo-restaurant img {
  width: 100%;
  height: 100%;
}
main .menu__complet {
  padding: 15px;
  position: relative;
  border-radius: 25px 25px 0px 0px;
  z-index: 1;
  margin-top: -20px;
  background: #f6f6f6;
}
main .menu__complet .menu__titre {
  display: flex;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}
main .menu__complet .menu__titre h2 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
main .menu__complet .menu__titre div .fa-regular {
  display: block;
  font-size: 1.6em;
  padding-right: 15px;
  padding-bottom: 10px;
}
main .menu__complet .menu__titre div .fa-solid {
  display: none;
}
main .menu__complet .menu__titre div:hover .fa-regular {
  display: none;
}
main .menu__complet .menu__titre div:hover .fa-solid {
  display: block;
  font-size: 22px;
  padding-right: 15px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 0.4s;
  animation-name: hearth__anim;
  animation-iteration-count: 1;
}
@keyframes hearth__anim {
  0% {
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: -webkit-linear-gradient(white, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(#c9abee, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: -webkit-linear-gradient(#bb56dc, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
main .menu__complet div {
  padding: 10px;
}
main .menu__complet div h4 {
  margin: 0;
  font-weight: 400;
}
main .menu__complet div .underline {
  position: relative;
  margin-top: 7px;
  padding: 0;
  height: 3px;
  width: 40px;
  background: #99E2D0;
}
main .menu__complet .choix {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 35px;
  justify-content: space-between;
}
main .menu__complet .choix .card {
  overflow: hidden;
}
main .menu__complet .choix div {
  height: 75px;
}
main .menu__complet .choix div .card__menu {
  background: rgb(255, 255, 255);
  opacity: 0;
  animation: card__annim__key 1.5s forwards;
  border: 0px;
  box-shadow: 0px 4px 8px #b7b7b7;
}
main .menu__complet .choix div .card__menu--1 {
  animation-delay: 100ms;
}
main .menu__complet .choix div .card__menu--2 {
  animation-delay: 200ms;
}
main .menu__complet .choix div .card__menu--3 {
  animation-delay: 300ms;
}
main .menu__complet .choix div .card__menu--4 {
  animation-delay: 400ms;
}
main .menu__complet .choix div .card__menu--5 {
  animation-delay: 500ms;
}
main .menu__complet .choix div .card__menu--6 {
  animation-delay: 600ms;
}
main .menu__complet .choix div .card__menu--7 {
  animation-delay: 700ms;
}
main .menu__complet .choix div .card__menu--8 {
  animation-delay: 800ms;
}
main .menu__complet .choix div .card__menu--9 {
  animation-delay: 900ms;
}
@keyframes card__annim__key {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
}
main .menu__complet .choix div .card__menu .menu__check {
  display: flex;
  width: 0px;
  transition-property: width;
  transition-duration: 300ms;
}
main .menu__complet .choix div .card__menu .menu__check i {
  transition-property: transform;
  transition-duration: 300ms;
}
main .menu__complet .choix div .card__menu:hover .menu__check {
  width: 60px;
}
main .menu__complet .choix div .card__menu:hover .menu__check i {
  transform: rotate(360deg);
}
@keyframes card__annim__ok {
  0% {
    display: flex;
  }
  100% {
    width: 60px;
    display: flex;
  }
}
main .menu__complet .choix div div {
  display: flex;
  flex-direction: row;
  padding: 0px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
}
main .menu__complet .choix div div div {
  display: flex;
  flex-direction: row;
  padding: 0;
}
main .menu__complet .choix div div div h3 {
  display: block;
  margin: 0;
  padding: 15px 5px 0px 5px;
  padding-top: 15px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu__complet .choix div div div p {
  display: block;
  margin: 0;
  padding: 5px;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu__complet .choix div div div .prix {
  padding: 13px;
  padding-right: 20px;
  font-weight: 700;
}
main .menu__complet .choix div div .card__menu__info {
  display: block;
  padding-left: 5px;
  flex: 1;
}
main .menu__complet .choix div div .menu__check {
  display: none;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  background: #99E2D0;
  border-radius: 0px 20px 20px 0px;
}
main .menu__complet .choix div div .menu__check i {
  font-size: 32px;
  color: #ffffff;
}
main .menu__complet .menu__commander {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
main .menu__complet .menu__commander button {
  width: 50%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1.2em;
  border-radius: 30px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 8px #b7b7b7;
}
main .menu__complet .menu__commander button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 4px 14px #b7b7b7;
}

footer {
  padding: 20px;
  padding-bottom: 35px;
  background: #353535;
  font-family: "Roboto";
}
footer h3 {
  font-family: "Shrikhand";
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
footer ul li {
  padding: 5px;
  color: #ffffff;
}
footer ul li i {
  padding-right: 5px;
}
footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer {
    text-align: center;
  }
}
@media (min-width: 992px) {
  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=menu.css.map */
