@import "./base/police";
@import "./utils/variables";
@import "./components/card-restaurant";
@import"./components/body";
@import"./components/header";
@import"./components/footer";
@import"./layouts/animation";

  
#spinner__loader{
    position:fixed;
    display: flex;
   align-content: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $blanc-casse;
    @include tablette-only{
        background: white;
    }
    z-index: -1;
    @include spiner__loader;
        animation-duration: 2.5s;
        animation-name: progress-bar;
        animation-iteration-count: 1;   
}
@keyframes progress-bar{
    from {
        z-index: 4;
        opacity: 1;
      }
      to {
        z-index: 4;
        opacity: 0;
      }
}
body{
    z-index: 0;
@include doc__body;
}
header{
@include doc__head;
}
main {
    font-family: 'Roboto', ;
    background: white;
    
        @include tablette-only{
            &:nth-child(n){
            width: 65%;
            margin: auto;
            margin-top: 15px,;
        }
        }
        @include desktop-only{
            &:nth-child(n){
            width: 95%;
            margin: auto;
            margin-top: 15px,;
            }
        }
        .restaurant__search{
            @include desktop-only{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background: $blanc-casse;
                border-radius: 20px;
            }
        }
    #booking{
        @include tablette-only{
            margin: auto;
        }
        @include desktop-only{
            padding: 40px;
            flex: 1;
        }
        #location{
            display: inline-block;
            width: 100%;
            height: 3em;
            color: $noir-clair;
            font-weight: 500;
            background-color: $gris;
            text-align: center;
            @include tablette-only{
                border-radius: 20px;
            }
            i{
                padding-right: 1em;
                color: $noir-clair;
            }
        }
        #rest-explorer{
            text-align: center;
            padding: 3em;
            background: $blanc-casse;
            @include tablette-only{
                margin-top: 15px;
                border-radius: 20px;
            }
            h2{
                @include gros-titre;
            }
            #btn-explorer{
                padding: 1em;
                button{
                    @include bouton_color;
                }
            }
        }

    }
    #operation{
        padding: 20px 0px 40px 0px;
        background: $blanc;
        @include tablette-only{
            margin-top: 20px;
            background: $blanc-casse;
            border-radius: 20px; 
        }
        @include desktop-only{
            padding: 40px;
            flex: 1;
        }
        h2{
            padding: 17px;
        }
        div{
            display: flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            position: relative;
            align-content: center;
            div{
                width: $puce-card;
                height: $puce-card;
                padding: 0px;
                background: $primary-color;
                color: $blanc;
                border-radius: 50%;
                text-align: center;
                z-index: 2;
            }
            .card__text{
                display: flex;
                flex: 1;
                height: 2.3em;
                position: relative;
                background: $blanc-casse;
                color: black;
                font-weight: 700;
                align-items: center;
                justify-content: flex-start;
                border-radius: 20px;
                padding: 1em;
                margin-left: -$offset-card;
                z-index: 1;
                @include ombre;
                i{
                    padding: 1em;
                    color: #7e7e7e;
                }
                .fa-store{
                    color: $primary-color;
                }
            }
            #degust{
                background: lighten($primary-color, 35%);
            }
        }
    } 
    #restaurant{
        @include tablette-only{
            margin: 20px 0px 40px 0px;
            border-radius: 20px; 
        }
        padding: 20px 0px 40px 0px;
        background: $blanc-casse;
        h2{
            padding: 17px;
            padding-top: 25px;
            padding-bottom: 5px;
            margin: 0;
        }
        #restaurant__view{
            @include tablette-only{
                display: flex;
                overflow: auto;
                flex-direction: row;
            }
        #restaurant__card__img__1{
            background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
        }
        #restaurant__card__img__2{
            background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
        }
        #restaurant__card__img__3{
            background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        }
        #restaurant__card__img__4{
            background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
        }
        @include card-restaurant;
     }
    }
}
footer{
    @include doc__foot;
    @include tablette-only{
        text-align: center;
        }
    @include desktop-only{
            text-align: center;
        }
}