@mixin spiner__loader {
      .spinner {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: Rotate 2.4s both infinite linear;
      }
      .path {
        animation: DrawLine 1.6s both infinite alternate linear;
        fill: none;
        stroke: #000;
        stroke-width: 50;
      }
      @keyframes Rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes DrawLine {
        0% {
          stroke-dasharray: 0 126;
        }
        100% {
          stroke-dasharray: 126 126;
        }
      }
}
$anim-dur: 1.5s;
@mixin card__annimation {
  animation: card__annim__key $anim-dur forwards;
  @for $i from 1 through 9 {
    &--#{$i} {
        animation-delay: 100ms * $i;
    }
}
  @keyframes card__annim__key {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin card__annim__check {
  .menu__check{
    display: flex;
    width: 0px;
    transition-property: width;
    transition-duration: 300ms;
    i{
      transition-property: transform;
    transition-duration: 300ms;
    }
  }
  &:hover{
    .menu__check{
       width: 60px;
       i{
        transform: rotate(360deg);
      }
    }
  }
  
  @keyframes card__annim__ok {
    0% {
      
        display: flex;
        

    }
    100% {
     width: 60px;
        display: flex;
       
      
    }
  }
}
@mixin annim__heart {
  .custom-checkbox{
    .fa{
        font-size: 1.6em;
    padding-right: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    }
}
.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: block;
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 0.4s;
    animation-name: hearth__anim;
    animation-iteration-count: 1;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked
{
display: none;
}
@keyframes hearth__anim {
    0% {
        background: -webkit-linear-gradient(white, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: -webkit-linear-gradient(white, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: -webkit-linear-gradient(lighten($primary-color, 20%), $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background: -webkit-linear-gradient(#bb56dc, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
}